body {
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    padding: 0;
    background-color:rgb(233, 227, 219);
    text-decoration: none;
    margin-top: .5rem;
}

img {
    width: 85px;
    height: auto;
    margin-bottom: 0;
}

h1 {
    margin-bottom: auto;
    font-size: 4rem;
    color: darkgray;
}

h2 {
    margin-bottom: 1.5rem;
}

.input-box {
    width: 30%;
    height: auto;
}

p {
    text-align: center;
    font-size: 1.5rem;
    color:rgb(21, 89, 91);
}

button {
    width: 5%;
    
}

.item-description {
    padding: 5px;
    width: 500px;
    margin-top: 1.5rem;
    margin-bottom: 10px;
}


